<h1>Shorten Your Url</h1>
<br>
<h3>Enter Long Url Here</h3>

<div>
  <%= form_for(@url) do |f| %>
    <% if @url.errors.any? %>
      <div id="">
        <h2><%= pluralize(@url.errors.count, "error") %> prohibited this short_url from being saved:</h2>

        <ul>
        <% @url.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="">
      <%= f.text_field :long %>
    </div>
    <div class="">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<br>
<br>
<br>

<h3>List of Previously Shortened Urls</h3>

<!-- <div id="search-form"><center>
 <label for="searchbox"> Search by page title</label>
 <input type="text" id="searchbox">
</div> -->

<p style="display: inline;">Search:</p>
<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">

<br>
<br>

<table class="order-table table">
  <thead>
    <tr>
      <th class="text-center">Original URL</th>
      <th class="text-center">Short URL</th>
      <th class="text-center">Created At</th>
      <th class="text-center">Rank</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.long %></td>
        <td><a href="<%= url.short_url %>" target="_blank"><%= url.short_url %></a></td>
        <td><%= url.created_at.strftime("%d/%m/%y %l:%M") %>
        <td><%= url.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
